<div class="container about col-sm-10 col-sm-offset-1">
    <!-- <h2>Hello, I'm Julian.</h2> -->
    <div>
        <image class="portrait col-lg-3 col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1" src="../../dist/img/jr2.jpg" alt="Hi!">
          <div class="col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
          <h3>HELLO</h3>
              <p class="aboutparagraph">After living in Austin for 12 years, I decided the insurance industry is not where I wanted to construct my career so when my girlfriend accepted a transfer to Dallas, I knew I wanted a dramatic change.</p>
              <p class="aboutparagraph">I attended DevMountain, a coding bootcamp, to learn how to develop web applications utilizing the MEAN Stack (MongoDB, Express, AngularJS, Node.js). I quickly realized that I did not want to build web applications, but rather, I wanted to design them. I am constantly reading and reaching out to the UI Design community to get a better perspective on how I can improve my skills.</p>
              <p class="aboutparagraph">So here we are. My pursuits and my thirst for knowledge. Thank you.</p>
            <p class="signature">- Julian</p>
            </div>
    </div>

</div>
