<div class="container col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="container-fluid">
      <p class="projdescription col-lg-6 col-xs-12">
        <a href="http://www.jables.com"><span>JABLES</span></a>
        <br>I was approached by Jason Bunnell, an inspirational man, to connect his startup company's web application to AngularJS seeing as how the framework that the app was previously on, Parse, was being eliminated later that month. It was time to act quickly. After removing Parse and integrating Angular, Jason asked if I could take on more of the design role with the application. I noticed a few items that I immediately wanted to correct including the company's pixelated logo and some of the mismatched coloring. After that, I took it upon myself to reconstruct the footer and its links as well as adding a logo for emphasis. Overall, I am pleased with my concepts and am ready for the complete roll out mid-2017. Look out for Jables.
      </p>
        <a href="../../dist/img/jables_complete.png"><image class="container-fluid col-lg-6 col-xs-12" src="../../dist/img/jables_complete.png"></a>
    </div>
    <div class="container-fluid">
      <p class="projdescription col-lg-6 col-xs-12">
        <a href="http://159.203.168.135/#/"><span>VIDMEO</span></a>
        <br>I was inspired to complete a project that not only took on most of the functionality of an existing site in only 2 weeks, but I wanted to prove that I could replicate it visually. I am confident in my abilities to create structure and design. This project serves as a personal design study and my ability to manipulate the screen exactly as I want.
      </p>
        <a href="../../dist/img/vidmeo_mockups.png"><image class="container-fluid col-lg-6 col-xs-12" src="../../dist/img/vidmeo_mockups.png"></a>
    </div>
    <div class="container-fluid">
      <p class="projdescription col-lg-6 col-xs-12">
        <a href="https://juliansruiz.github.io/mountenus/"><span>MOUNTENUS</span></a>
        <br>
        This is a project that stemmed out of wanting to get more creative with design. I created this website to represent a digital wishlist of all the things I want. I call it the "Christmas List for Adults." It was meant to resemble the characteristics of a minimal ecommerce site, but is nowhere near complete. Just another vision for the existing template.
      </p>
        <a href="../../dist/img/mountenus.png"><image class="container-fluid col-lg-6 col-xs-12" src="../../dist/img/mountenus.png"></a>
    </div>
    <div class="container-fluid">
      <p class="projdescription col-lg-6 col-xs-12">
        <a href="http://104.236.5.8/#/"><span>ALIEN HUNT</span></a>
        <br>I presented the idea of recreating a timeless classic Nintendo video game (Duck Hunt) for a group project at DevMountain. This was a great experience working with others and seeing how different minds come together. I focused on project management ensuring that everyone maintained their responsibilities, added a few animations, as well as the positioning and scaling of nearly everything you see in this game. After researching rendering libraries, I ultimately decided on PixiJS. After only three days of hands on experience, our group was up and running with the beginning bits of a functioning game. I dare you to beat my high score.
      </p>
        <a href="../../dist/img/alien_hunt.png"><image class="container-fluid col-lg-6 col-xs-12" src="../../dist/img/alien_hunt.png"></a>
    </div>
    <div class="printout"></div>
</div>
