<div class="container container-fluid col-sm-10 col-sm-offset-1">
    <div>
        <div class="resumeleft col-md-6 col-xs-12">
            <h3>EXPERIENCE</h3>
            <h4><a href="http://www.jables.com">Jables</a></h4>
            <h5>Front-End Developer/UI Designer; Contract</h5>
            <p class="date">JAN 2017 - PRESENT</p>
            <ul class="accomplishments">
                <li>Overhauled the user interface to refine the existing design and optimize user experience through simplified, cleaner layout</li>
                <li>Wireframed the User Profile Page in Sketch</li>
                <li>Researched competitors' navigation and layout for a more comprehensive user story</li>
                <li>Installed AngularJS replacing the former framework, Parse, to adapt to the elimination of the Parse framework</li>
                <li>Connected application to Facebook Passport setting up the ability to record users and user data</li>
            </ul>
            <h4><a href="http://www.marsh.com">Marsh</a></h4>
            <h5>Renewal Quality Analyst</h5>
            <p class="date">DEC 2009 - JUL 2016</p>
            <ul class="accomplishments">
                <li>Audited and monitored ad­-hoc and renewal insurance requests to ensure the quality and timeliness of process requirements for multimillion dollar commercial insurance placements</li>
                <li>Designed and presented enhanced auditing metrics and promoted continuous improvement by collaborating with the internal Training Department</li>
                <li>Established as the point-­person creating professional relationships with the corporate risk management team for several high profile companies including <a href="http://www.redcross.org/">American National Red Cross</a> and <a href="http://http://www.nbcuniversal.com/">NBCUniversal</a></li>
                <li>Mentored team members on specialty accounts and trained on­-boarding employees on best practice processes in creating confidential insurance documents</li>
            </ul>
            <h3>AWARDS</h3>
            <ul class=accomplishments>
                <li>Outstanding Performance in Customer Service, <a href="http://www.macys.com"><i>Macy's</a> 2007</i>
                </li>
            </ul>

        </div>
        <div class="resumeright col-md-6 col-xs-12">
            <h3>EDUCATION</h3>
            <h4><a href="http://www.utexas.edu">The University of Texas at Austin</a></h4>
            <h5>B.A., Mexican-American Studies</h5>
            <p class="date">JUN 2004 - MAY 2009</p>

            <div class="col-md-12 col-sm-6">
                <h3>SKILLS</h3>
                <ul class="accomplishments">
                    <li>User Interface Design</li>
                    <li>Web Architecture</li>
                    <li>Wireframing</li>
                    <li>Researching Competing User Stories</li>
                    <li>Project/Team Management</li>
                    <li>Quality Analysis</li>
                    <li>Continuous Improvement</li>
                    <li>Mentoring</li>
                    <li>Critical Thinking</li>
                    <li>Customer Service</li>
                    <li>Multitasking</li>
                    <li>Organizational</li>
                </ul>
            </div>
            <div class="col-md-12 col-sm-6">
                <h3>TECHNOLOGIES</h3>
                <ul class="accomplishments">
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>Sketch</li>
                    <li>AngularJS</li>
                    <li>Balsamiq</li>
                    <li>Photoshop</li>
                    <li>Bootstrap</li>
                    <li>Microsoft Office</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="printout col-sm-6 col-sm-offset-5 col-xs-6 col-xs-offset-4">
        <a href="../../dist/img/julian_resume.pdf">Printable version</a>
    </div>
</div>
